body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 100vh;
  width: 100%;
}

.login-background {
  background-image: url("https://i.postimg.cc/W4n44dbB/p4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Add this to make it take up the full page */
  top: 0;
  left: 0;
}

/* Rest of the CSS code remains the same */
.container-box {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
}
  
  .artwork {
    flex: 1;
  }
  
  .login-box {
    position: relative;
    height: 400px;
    width: 400px;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .login-box h2 {
    margin: 0 0 20px;
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  .textbox {
    position: relative;
    margin-bottom: 20px;
  }
  
  .textbox input {
    position: relative;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    outline: none;
    background: #f9f9f9;
    margin-top: 40px;
  }
  
  .btn {
    position: absolute;
    background: #333;
    border: none;
    border-radius: 15px;
    color: #fff;
    padding: 10px 20px;
  
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    width: 85%;
    left: 35px;
    bottom: 70px;
  }
  
  .btn:hover {
    background: #555;
  }
  